.navBar {
    transition: .5s;
    height: auto;
    max-height: 66px;
    display: grid;
    grid-template-columns: 25% 75%;
    width: 100%;
    padding: 15px 5%;
    background-color: rgba(255, 255, 255, 0.50);
    gap: 10px;
    align-items: start;
    justify-content: left;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    overflow: hidden;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.navBar.active {
    transition: .5s;
    max-height: 100vh;
    background-color: white;
}

.navBar.scrolled {
    transition: .5s;
    background-color: white;
}

.navBar .links {
    height: auto;
    display: grid;
    grid-template-columns: 15% 15% 15% 50px auto;
    align-items: start;
    justify-content: start;
    width: 100%;
    padding: 0 0 0 5%;
    gap: 50px;
    cursor: pointer;
}

.navBar img {
    height: 30px;
    width: auto;
    aspect-ratio: initial;
    margin-top: 5px;
}

.navBar .links div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
    gap: 15px;
}

.navBar .links div:nth-child(5) {
    align-items: end;
    justify-content: right;
    text-align: right;
}

.navBar .links div:nth-child(5) .title {
    transition: .5s;
    text-align: right;
    border: 2px solid black;
    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 40px;
}

.navBar:hover .links div:nth-child(5) .title {
    border: 2px solid transparent;
}

.navBar .links .title {
    font-size: large;
    font-weight: bold;
    position: relative;
    text-align: center;
    width: 100%;
    padding: 5px;
}

.navBar .links div span {
    height: 2px;
    border-radius: 4px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.navBar .links div:nth-child(5) span {
    width: 50%;
}

.navBar .links .subTitle {
    font-size: 15px;
}