.empresa .empresaHero {
    height: 70vh;
}

.empresa .empresaHero img {
    max-height: 70%;
}

.empresa .empresaHero .heroComponent {
    width: 80%;
    min-height: 20%;
    background-color: white;
    z-index: 20;
    position: absolute;
    top: 60%;
    border: 10%;
    left: 10%;
    padding: 30px 60px;
    border-radius: 60px;
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 5px;
}

.empresa .empresaHero .heroComponent h2 {
    font-weight: bold;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 10px;
}

.empresa .empresaHero .heroComponent h2 svg {
    width: 17px;
    height: auto;
    margin-top: 5px;
}

.empresa .empresaHero .heroComponent .tags {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.empresa .empresaHero .heroComponent .tags p {
    padding: 2px 15px;
    border: 1px solid;
    border-radius: 15px;
    font-weight: bold;
    font-size: 15px;
}

.empresa .oferta {
    width: 80vw;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3));
    gap: 0;
    padding-bottom: 30px;
    align-items: start;
    row-gap: 50px;
}

.empresa .oferta .col {
    transition: .3s;
    width: 90%;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0px -10px 10px rgb(0 0 0 / 0.10), -0px 10px 10px rgb(0 0 0 / 0.15), 10px 0px 10px rgb(0 0 0 / 0.15), -10px -0px 10px rgb(0 0 0 / 0.15);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
    margin: 0 auto;
    height: 100%;
    max-height: 90px;
    overflow: hidden;
}

.empresa .oferta .col:hover {
    max-height: 1000px;
}

.empresa .oferta .col h5 {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.empresa .oferta .col h5 svg {
    width: 30px;
    height: auto;
}

.empresa .oferta .col p {
    padding-left: 25px;
    position: relative;
}

.empresa .oferta .col p::before {
    position: absolute;
    content: '';
    top: 13px;
    left: 15px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 4px;
    width: 4px;
    background-color: black;
}